<%provide(:title, "Help")%>

<h1>HELP</h1>
<p>
	Get help on the Ruby on Rails Tutorial at the 
	<a href="http://www.railstutorial.org/#help">Rail Tutorial help section</a>
	To help on this sample app, you can see the 
	<a href="http://www.railstutorial.org/book">Ruby on Rails Tutorial</a>
</p>
